@inherits RocketMod.RocketModTokens<Simplisity.SimplisityRazor>
@using Simplisity;
@using DNNrocketAPI.Components;


@AddProcessData("resourcepath", "/DesktopModules/DNNrocket/api/App_LocalResources/")
@AddProcessData("resourcepath", "/DesktopModules/DNNrocket/Images/App_LocalResources/")
@AddProcessData("resourcepath", "[Token:appthemeresx]")

@{
    var settingsData = (SettingsData)Model.List.First();
    var info = settingsData.Info;
}

<div id="datasection" class="">
    <!-- The Detail-->
    <div id="detailDisplay" class="w3-container">
        [Token:AppThemeFields]
    </div>
</div>

<script>
    $(document).ready(function () {

    });

    function languageChange() {
        $('.langchangesave').trigger("click");
    }

</script>


