<root>
  <!-- To build install file use "Solution Directory" -->
	<version>1.0.0</version>
	<!-- Include only files that match the regular expression -->
	<regexpr>(\.cshtml|\.html|\.resx|\.dnn|\.png|\.css|\.js|\.xml|\.txt|\.md)$</regexpr>
	<directory include='false'>
		<!-- All paths should be from the source root (project root) -->
		<value>\.git</value>
		<value>\.vs</value>
		<value>\bin</value>

  </directory>
  <directory include='true'>
    <!-- All paths should be from the source root (project root) -->
    <value>\API</value>
    <value>\API\App_LocalResources</value>
    <value>\API\images</value>
    <value>\API\Systems</value>
    <value>\API\Themes</value>

    <value>\AppThemes</value>
    <value>\AppThemes\App_LocalResources</value>
    <value>\AppThemes\AppThemeBase</value>
    <value>\AppThemes\CodeMirror</value>
    <value>\AppThemes\images</value>
    <value>\AppThemes\Shared</value>
    <value>\AppThemes\Themes</value>

    <value>\CKEditor</value>

    <value>\Country</value>
    <value>\Country\App_LocalResources</value>
    <value>\Country\Themes</value>

    <value>\Documents</value>
    <value>\Documents\Themes</value>

    <value>\Images</value>
    <value>\Images\App_LocalResources</value>
    <value>\Images\Themes</value>

    <value>\RocketMod</value>
    <value>\RocketMod\App_LocalResources</value>
    <value>\RocketMod\AppThemeBase</value>
    <value>\RocketMod\images</value>
    <value>\RocketMod\Themes</value>

    <value>\RocketRemoteMod</value>
    <value>\RocketRemoteMod\App_LocalResources</value>
    <value>\RocketRemoteMod\Themes</value>

    <value>\Simplisity</value>
    <value>\Simplisity\js</value>

    <value>\SystemData</value>
    <value>\SystemData\App_LocalResources</value>
    <value>\SystemData\Systems</value>
    <value>\SystemData\Themes</value>

    <value>\Tools</value>
    <value>\Tools\App_LocalResources</value>
    <value>\Tools\Themes</value>


    <value>\css</value>
    <value>\fa</value>
    <value>\js</value>


  </directory>
  <file include='false'>
  </file>
  <file include='true'>
		<!-- All paths should be from the source root (project root) -->
    <!-- These files will be NOT in the Resource.zip, they will be on the root of the install zip -->
		<value>\API\Installation\01.00.00.SqlDataProvider</value>
    <value>\API\Installation\Uninstall.SqlDataProvider</value>
    <value>\API\DNNrocketAPI.dnn</value>
    
  </file>
  <!-- The bin path gives the backward folder levels to the DNN bin folder, so assemblies can be taken. -->
	<!-- In some cases, if the project folder is not under a company level, this will need to be change. -->
	<binfolder>\\..\\..\\bin</binfolder>
	<assembly>
		<!-- Assembllies will be taken from the DNN bin folder, and placed on root. -->
    <value>System.Drawing.Common.dll</value>
    <value>Simplisity.dll</value>
    <value>RocketTools.dll</value>
    <value>RocketMod.dll</value>
    <value>RocketAppThemes.dll</value>
    <value>RazorEngine.dll</value>
    <value>Newtonsoft.Json.dll</value>
    <value>netstandard.dll</value>
    <value>DNNrocketSystemData.dll</value>
    <value>DNNrocketImages.dll</value>
    <value>DNNrocketDocuments.dll</value>
    <value>DNNrocketCountry.dll</value>
    <value>DNNrocketCategory.dll</value>
    <value>DNNrocketAPI.dll</value>
  </assembly>
</root>
