<item><itemid>17</itemid><portalid>0</portalid><moduleid>0</moduleid><xrefitemid>0</xrefitemid><parentitemid>0</parentitemid><typecode>GLOBALSETTINGS</typecode><guidkey></guidkey><lang>en-US</lang><userid>0</userid><genxml><textbox><ftppassword><![CDATA[lxCXqIY3n5DfRruDI4G4]]></ftppassword><ftpserver><![CDATA[ftp.cluster029.hosting.ovh.net]]></ftpserver><ftpuser><![CDATA[rockettela]]></ftpuser><publicappthemeuri><![CDATA[http://www.rocket-templates.ovh/appthemes]]></publicappthemeuri><licenseurl><![CDATA[http://license.dnnrocket.com]]></licenseurl></textbox><select><imagetype><![CDATA[png]]></imagetype></select><lang><genxml /></lang></genxml><data><![CDATA[]]></data></item>