@inherits RocketMod.RocketModTokens<Simplisity.SimplisityRazor>
@using DNNrocketAPI;
@using System
@using System.Linq
@using System.Xml
@using Simplisity;
@using DNNrocketAPI.Componants;


@AddProcessData("resourcepath", "/DesktopModules/DNNrocket/api/App_LocalResources/")
@AddProcessData("resourcepath", "/DesktopModules/DNNrocket/RocketMod/App_LocalResources/")
@AddProcessData("resourcepath", "/DesktopModules/DNNrocket/AppThemes/Themes/HtmlContent/resx/")


@{
    var imagewidth = Model.Datainfo.GetXmlPropertyInt("genxml/imagelist/genxml[1]/textbox/widthimagepath");
    var imageheight = Model.Datainfo.GetXmlPropertyInt("genxml/imagelist/genxml[1]/textbox/heightimagepath");
}

<div class="w3-row">
    <div class="w3-padding" style="float: left">
        <img src="/DesktopModules/DNNrocket/API/DNNrocketThumb.ashx?src=@Model.Datainfo.GetXmlProperty("genxml/imagelist/genxml[1]/hidden/imagepath")&w=@imagewidth&h=@imageheight" alt="" />
    </div>

    <div class="w3-padding">
        @HtmlOf(Model.Datainfo.GetXmlProperty("genxml/lang/genxml/textbox/richtext"))
    </div>

</div>
