@inherits RocketMod.RocketModTokens<Simplisity.SimplisityRazor>
@using DNNrocketAPI;
@using Simplisity;
@using RocketMod;


@AddProcessData("resourcepath", "/DesktopModules/DNNrocket/api/App_LocalResources/")
@AddProcessData("resourcepath", "/DesktopModules/DNNrocket/Images/App_LocalResources/")
@AddProcessData("resourcepath", "/DesktopModules/DNNrocket/AppThemes/SystemThemes/dnnrocketmodule/HtmlContent/1.0/resx/")

@{
    var articleDataList = (ArticleDataList)Model.List.First();
}

@foreach (var info in articleDataList.DataList)
{
    	<div class='w3-col m2 w3-padding'>
		@info.GetXmlProperty("genxml/textbox/test1")
	</div>

}


