
.rocket-buttonbar {
    border-top: 6px solid #fff !important;
    border-bottom: 6px solid #fff !important;
    border-left: 6px solid #fff !important;
    border-right: 6px solid #fff !important;
}
