@inherits RocketPortal.Components.RocketPortalTokens<Simplisity.SimplisityRazor>
@using DNNrocketAPI.Components;
@using RocketPortal.Components;
@using Simplisity;
@using RazorEngine.Text;

@AddProcessData("resourcepath", "/DesktopModules/DNNrocket/api/App_LocalResources/")
@AddProcessData("resourcepath", "/DesktopModules/DNNrocket/RocketPortal/App_LocalResources")

@{
    var systemGloablData = new SystemGlobalData();
    var systemData = SystemSingleton.Instance("rocketportal");
    var sessionParams = Model.SessionParamsData;
    var enabledlanguages = DNNrocketUtils.GetCultureCodeList();
}

@functions
{
    public IEncodedString GetInterfaceLink(SystemLimpet systemData, RocketInterface rinterface, bool submenu)
    {
        var rtn = "";
        if (rinterface.IsOnMenu)
        {
            var securityData = new SecurityLimpet(PortalUtils.GetPortalId(), systemData.SystemKey, rinterface, -1, -1);
            if (securityData.HasSecurityAccess(rinterface.DefaultCommand))
            {
                var interfaceName = DNNrocketUtils.GetResourceString(systemData.SystemRelPath + "/App_LocalResources", "SideMenu." + rinterface.InterfaceKey, "Text", DNNrocketUtils.GetCurrentCulture());
                if (interfaceName == "")
                {
                    interfaceName = rinterface.InterfaceKey;
                }
                rtn = "<div class='w3-bar-item w3-btn w3-padding-16 sidemenubutton sidemenu" + rinterface.InterfaceKey + " simplisity_click' s-cmd='" + rinterface.DefaultCommand + "'  s-fields='{\"track\":\"true\"}' title='" + interfaceName + "'><span class='material-icons'>" + rinterface.InterfaceIcon + "</span></div>";
            }
        }
        return new RawString(rtn);
    }
}

<!-- Load CSS in body, not ideal but is easier to implement and reduces 1 API call. -->
<link rel="stylesheet" href="/DesktopModules/DNNrocket/css/w3.css">
<link rel="stylesheet" href="/DesktopModules/DNNrocket/Simplisity/css/simplisity.css">
<link rel="stylesheet" href="/DesktopModules/DNNrocket/css/jquery.tag-editor.css" charset="utf-8">
<link rel="stylesheet" href="/DesktopModules/DNNrocket/RocketPortal/Themes/config-w3/1.0/css/theme.css">
<script src="/DesktopModules/DNNrocket/RocketPortal/Themes/config-w3/1.0/js/RP_Admin.js"></script>
<script type="text/javascript" src="/DesktopModules/DNNrocket/Simplisity/js/simplisity.js"></script>
<script src="/DesktopModules/DNNrocket/js/jquery.selectlistactions.js"></script>
<script type="text/javascript" src="/DesktopModules/DNNrocket/js/jquery.caret.min.js"></script>
<script type="text/javascript" src="/DesktopModules/DNNrocket/js/jquery.tag-editor.min.js"></script>
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<link rel="stylesheet" href="/DesktopModules/DNNrocket/API/Themes/config-w3/1.0/css/dnn-theme.css">

<style>    
    .w3-button { border-radius: 3px }
</style>

<div id="a-displaywrapper" class="w3-animate-opacity" style="">

    <!-- Menu -->
    <div id="sidebarplaceholder" class="w3-bar  w3-border-bottom">
        @{
            var groupList = systemData.GetGroups();
            groupList.Add("", ""); // add empty for root level.
        }

        @foreach (var g in groupList)
        {
            var groupref = g.Key;
            var groupicon = g.Value;
            var interfacelist = systemData.GetGroupInterfaceList(groupref);
            if (interfacelist.Count > 0)
            {
                if (groupref == "")
                {
                    foreach (var r in interfacelist)
                    {
                        @GetInterfaceLink(systemData, r, false)
                    }
                }
            }
        }

    </div>

    <div class="w3-main" style="">

        <!-- Main -->
        <div class="" style="">
            <!-- Content -->
            <div id="simplisity_startpanel" class="w3-panel simplisity_panel" s-cmd="portal_detail" s-fields='' style="">
                <div class="simplisity_loader">
                    <span class=" simplisity_loader_inner">
                    </span>
                </div>
                Waiting...............
            </div>
        </div>
    </div>

</div>

<div class="w3-bar">
    <div class="w3-bar-item">
        <div class="w3-display-container w3-white " style="width:158px;height:40px;">
            <a href="https://www.rocket-cds.org" class="w3-display-middle" target="_blank">
                <img src="/DesktopModules/DNNrocket/API/images/rocketcds-logo-web.png" style="height:20px;" />
            </a>
        </div>
    </div>
</div>

<script>

    $(document).ready(function () {

        $(document).simplisityStartUp('/Desktopmodules/dnnrocket/api/rocket/action', { systemkey: 'rocketportal', debug: false });

        simplisity_setParamField("reload", true);  // This will flag that a reload is done.  The Server side code will get the last command tracked.
        simplisity_sessionremove(); // clear the sessions vars on load.  These needs to be reset for the admin panel to work and not use any front office selections.

    });

</script>

<script>

    function selectMenu(interfacekey) {
        $('.sidemenubutton').removeClass("w3-theme-l1");
        $('.sidemenu' + interfacekey).addClass("w3-theme-l1");
    }

</script>
