@inherits RocketPortal.Components.RocketPortalTokens<Simplisity.SimplisityRazor>
@using DNNrocketAPI.Components;
@using RocketPortal.Components;
@using Simplisity;
@using RazorEngine.Text;

@AddProcessData("resourcepath", "/DesktopModules/DNNrocket/api/App_LocalResources/")
@AddProcessData("resourcepath", "/DesktopModules/DNNrocket/RocketPortal/App_LocalResources")

<div id="a-displaywrapper" class="w3-animate-opacity" style="display:none;">

    <!-- Sidebar/Menu -->
    <div id="sidebarplaceholder"></div>

    <!-- Overlay effect when opening sidebar on small screens -->
    <div class="w3-overlay w3-hide-large w3-animate-opacity" onclick="w3_close()" style="cursor:pointer" title="close side menu" id="myOverlay"></div>

    <div class="w3-main" style="margin-left:280px;">

        <!-- Top Bar -->
        <div id="topbarplaceholder"></div>

        <!-- Main -->
        <div style="padding-top:56px;">
            <!-- Content -->
            <div id="simplisity_startpanel" class="w3-panel simplisity_panel" s-cmd="dashboard_get" s-fields='' style="display:none;">
                <div class="w3-display-container">

                    <div class="w3-light-grey" style="width: calc(100% - 280px);">
                        <div id="myBar" class="w3-container w3-theme" style="height:6px;width:1%"></div>
                    </div>
                    <script>
                        $(document).ready(function () {
                            move();
                        });

                        function move() {
                            var elem = document.getElementById("myBar");
                            var width = 1;
                            var id = setInterval(frame, 100);
                            function frame() {
                                if (width >= 100) {
                                    clearInterval(id);
                                } else {
                                    width++;
                                    elem.style.width = width + '%';
                                }
                            }
                        }
                    </script>
                </div>
            </div>
        </div>
    </div>

</div>

<script>

    $(document).ready(function () {

        $('#topbarplaceholder').getSimplisity('/Desktopmodules/dnnrocket/api/rocket/action', 'gettopbar', '{"systemkey":"rocketportal"}', '')
        $('#sidebarplaceholder').getSimplisity('/Desktopmodules/dnnrocket/api/rocket/action', 'getsidemenu', '{"systemkey":"rocketportal"}', '')
        $(document).simplisityStartUp('/Desktopmodules/dnnrocket/api/rocket/action', { systemkey: 'rocketportal', debug: false });

        $('#topbarplaceholder').activateSimplisityPanel();
        $('#sidebarplaceholder').activateSimplisityPanel();

        simplisity_setParamField("reload", true);  // This will flag that a reload is done.  The Server side code will get the last command tracked.
        simplisity_sessionremove(); // clear the sessions vars on load.  These needs to be reset for the admin panel to work and not use any front office selections.

    });

</script>

<!-- Load CSS in body, not ideal but is easier to implement and reduces 1 API call. -->
<link rel="stylesheet" href="/DesktopModules/DNNrocket/css/w3.css">

<link rel="stylesheet" href="/DesktopModules/DNNrocket/RocketPortal/Themes/config-w3/1.0/css/theme.css">
<link rel="stylesheet" href="/DesktopModules/DNNrocket/css/jquery.tag-editor.css" charset="utf-8">
<script src="/DesktopModules/DNNrocket/RocketPortal/Themes/config-w3/1.0/js/RP_Admin.js"></script>

<link rel="stylesheet" href="/DesktopModules/DNNrocket/css/jquery.tag-editor.css" charset="utf-8">
<script src="/DesktopModules/DNNrocket/RocketPortal/Themes/config-w3/1.0/js/RP_Admin.js"></script>

<script src="/DesktopModules/DNNrocket/js/jquery-3.3.1.min.js"></script>
<script src="/DesktopModules/DNNrocket/js/jquery-ui.min.js"></script>

<script type="text/javascript" src="/DesktopModules/DNNrocket/Simplisity/js/simplisity.js"></script>
<script type="text/javascript" src="/DesktopModules/DNNrocket/Simplisity/js/jquery.fileupload.js"></script>

<script src="https://cdn.jsdelivr.net/gh/leedavi/CKEditorBuilds@1.0.0/ckeditorbase1.js"></script>

<script src="/DesktopModules/DNNrocket/js/jquery.selectlistactions.js"></script>

<script type="text/javascript" src="/DesktopModules/DNNrocket/js/jquery.caret.min.js"></script>
<script type="text/javascript" src="/DesktopModules/DNNrocket/js/jquery.tag-editor.min.js"></script>

<!-- codemirror.js for editor ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ -->
<script src="/DesktopModules/DNNrocket/RocketAppTheme/CodeMirror/codemirror.js"></script>
<link rel="stylesheet" href="/DesktopModules/DNNrocket/RocketAppTheme/CodeMirror/night.css" />
<link rel="stylesheet" href="/DesktopModules/DNNrocket/RocketAppTheme/CodeMirror/codemirror.css" />
<script src="/DesktopModules/DNNrocket/RocketAppTheme/CodeMirror/mode/javascript/javascript.js"></script>
<script src="/DesktopModules/DNNrocket/RocketAppTheme/CodeMirror/mode/xml/xml.js"></script>
<script src="/DesktopModules/DNNrocket/RocketAppTheme/CodeMirror/mode/htmlmixed/htmlmixed.js"></script>
<script src="/DesktopModules/DNNrocket/RocketAppTheme/CodeMirror/mode/css/css.js"></script>
<!-- codemirror.js for editor ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ -->
<!-- +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ -->
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:regular,bold,italic,thin,light,bolditalic,black,medium">
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

<link rel="stylesheet" href="/DesktopModules/DNNrocket/API/Themes/config-w3/1.0/css/grey-theme.css">

