@inherits RocketPortal.Components.RocketPortalTokens<Simplisity.SimplisityRazor>
@using DNNrocketAPI.Components;
@using RocketPortal.Components;
@using Simplisity;
@using RazorEngine.Text;

@AddProcessData("resourcepath", "/DesktopModules/DNNrocket/api/App_LocalResources/")
@AddProcessData("resourcepath", "/DesktopModules/DNNrocket/RocketPortal/App_LocalResources")

<div id="a-displaywrapper" class="w3-animate-opacity" style="">

    <!-- Sidebar/Menu -->
    <div id="sidebarplaceholder"></div>

    <!-- Overlay effect when opening sidebar on small screens -->
    <div class="w3-overlay w3-hide-large w3-animate-opacity" onclick="w3_close()" style="cursor:pointer" title="close side menu" id="myOverlay"></div>

    <div class="w3-main" style="margin-left:280px;">

        <!-- Top Bar -->
        <div id="topbarplaceholder"></div>

        <!-- Main -->
        <div class="" style="padding-top:56px;">
            <!-- Content -->
            <div id="simplisity_startpanel" class="w3-panel simplisity_panel" s-cmd="dashboard_get" s-fields='' style="">
                <div class="simplisity_loader">
                    <span class=" simplisity_loader_inner">
                    </span>
                </div>
            </div>
        </div>
    </div>

</div>

<script>

    $(document).ready(function () {

        $('#topbarplaceholder').getSimplisity('/Desktopmodules/dnnrocket/api/rocket/action', 'gettopbar', '{"systemkey":"rocketportal"}', '')
        $('#sidebarplaceholder').getSimplisity('/Desktopmodules/dnnrocket/api/rocket/action', 'getsidemenu', '{"systemkey":"rocketportal"}', '')
        $(document).simplisityStartUp('/Desktopmodules/dnnrocket/api/rocket/action', { systemkey: 'rocketportal', debug: false });

        $('#topbarplaceholder').activateSimplisityPanel();
        $('#sidebarplaceholder').activateSimplisityPanel();

        simplisity_setParamField("reload", true);  // This will flag that a reload is done.  The Server side code will get the last command tracked.
        simplisity_sessionremove(); // clear the sessions vars on load.  These needs to be reset for the admin panel to work and not use any front office selections.

    });

</script>

<!-- Load CSS in body, not ideal but is easier to implement and reduces 1 API call. -->
<link rel="stylesheet" href="/DesktopModules/DNNrocket/css/w3.css">
<link rel="stylesheet" href="/DesktopModules/DNNrocket/Simplisity/css/simplisity.css">

<link rel="stylesheet" href="/DesktopModules/DNNrocket/css/jquery.tag-editor.css" charset="utf-8">

<link rel="stylesheet" href="/DesktopModules/DNNrocket/RocketPortal/Themes/config-w3/1.0/css/theme.css">
<script src="/DesktopModules/DNNrocket/RocketPortal/Themes/config-w3/1.0/js/RP_Admin.js"></script>

<script src="/DesktopModules/DNNrocket/js/jquery-3.3.1.min.js"></script>
<script src="/DesktopModules/DNNrocket/js/jquery-ui.min.js"></script>

<script type="text/javascript" src="/DesktopModules/DNNrocket/Simplisity/js/simplisity.js"></script>
<script type="text/javascript" src="/DesktopModules/DNNrocket/Simplisity/js/jquery.fileupload.js"></script>

<script src="https://cdn.jsdelivr.net/gh/leedavi/CKEditorBuilds@1.0.0/ckeditorbase1.js"></script>

<script src="/DesktopModules/DNNrocket/js/jquery.selectlistactions.js"></script>

<script type="text/javascript" src="/DesktopModules/DNNrocket/js/jquery.caret.min.js"></script>
<script type="text/javascript" src="/DesktopModules/DNNrocket/js/jquery.tag-editor.min.js"></script>

<!-- codemirror.js for editor ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ -->
<script src="/DesktopModules/DNNrocket/CodeMirror/codemirror.js"></script>
<link rel="stylesheet" href="/DesktopModules/DNNrocket/CodeMirror/night.css" />
<link rel="stylesheet" href="/DesktopModules/DNNrocket/CodeMirror/codemirror.css" />
<script src="/DesktopModules/DNNrocket/CodeMirror/mode/javascript/javascript.js"></script>
<script src="/DesktopModules/DNNrocket/CodeMirror/mode/xml/xml.js"></script>
<script src="/DesktopModules/DNNrocket/CodeMirror/mode/htmlmixed/htmlmixed.js"></script>
<script src="/DesktopModules/DNNrocket/CodeMirror/mode/css/css.js"></script>
<!-- codemirror.js for editor ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ -->
<!-- +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ -->
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:regular,bold,italic,thin,light,bolditalic,black,medium">
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

<link rel="stylesheet" href="/DesktopModules/DNNrocket/API/Themes/config-w3/1.0/css/rocketcds-theme.css">

<link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>

<style>
    .select2-container .select2-selection--single {
        box-sizing: border-box;
        cursor: pointer;
        display: block;
        height: 40px;
        user-select: none;
        -webkit-user-select: none;
    }

    .select2-container--default .select2-selection--single .select2-selection__rendered {
        height: 40px;
        line-height: 40px;
    }
</style>
