
.NewspaperLayout input[type=radio]{}
/* Loading image - Includes opacity for IE5-8 */
#loader{opacity:0;-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";filter:alpha(opacity=50);}
#loader{background:#848D92;color:#000000;height:100%;left:0;opacity:0.3;transition:all 0.4s ease-in-out 0s;position:fixed;text-align:center;top:0;width:100%;z-index:9999;}
.clearfix{clear:both;}
/* Normal Display */
.newspaper-wrapper{}
.newspaper-wrapperdiv{margin-bottom:30px;}

/* Layout 1 */
.newspaper-imgdivtop, .newspaper-imgdivbottom{text-align:center;}
.newspaper-imgdivtop img{margin:0 10px 40px 10px;}
.newspaper-imgdivbottom img{margin:40px 10px 0 10px;}
.newspaper-imgdivfloatleft{float:left;text-align:center;}
.newspaper-imgdivfloatright{float:right;text-align:center;}
.newspaper-imgdivfloatleft img{display:block;/*margin:20px 40px 20px 0;*/}
.newspaper-imgdivfloatright img{display:block;/*margin:20px 0 20px 40px;*/}

/* Centre for different size images */
.newspaper-center1{float:right;position:relative;left:-50%;text-align:left;}
.newspaper-center2{position:relative;left:50%;}
/* Table Display */
.newspaper-imgdivcellleft, .newspaper-imgdivcellright{display:table-cell;vertical-align:top;}
.newspaper-imgdivcellleft img{display:block;margin:20px 40px 20px 0;}
.newspaper-imgdivcellright img{display:block;margin:20px 0 20px 40px;}
.newspaper-textdivcell{display:table-cell;vertical-align:top;}
.newspaper-imgcaption{text-align:center;font-weight:bold;}
/* 2 Columns */
.newspaper-wrapper2col:after{content:"";display:table;clear:both;}
.newspaper-wrapper2col .newspaper-wrapperdiv{float:left;width:46%;margin-right:8%;}
.newspaper-wrapper2col div:last-child{margin-right:0;}
/* 3 Columns */
.newspaper-wrapper3col:after{content:"";display:table;clear:both;}
.newspaper-wrapper3col .newspaper-wrapperdiv{float:left;width:28%;margin-right:8%;}
.newspaper-wrapper3col div:last-child{margin-right:0;}
/* 4 Columns */
.newspaper-wrapper4col:after{content:"";display:table;clear:both;}
.newspaper-wrapper4col .newspaper-wrapperdiv{float:left;width:19%;margin-right:8%;}
.newspaper-wrapper4col div:last-child{margin-right:0;}

/* for 980px and less - Only portrait for retina display */
@media all and (max-width:980px),
            screen and (-webkit-min-device-pixel-ratio: 3.0) and (max-width: 2940px) and (orientation: portrait),
            screen and (-webkit-min-device-pixel-ratio: 2.0) and (max-width: 1960px) and (orientation: portrait) {
.newspaper-imgdivfloatleft{float:none;}
.newspaper-imgdivfloatright{float:none;}
.newspaper-imgdivfloatleft img{margin:0 0 10px 0;}
.newspaper-imgdivfloatright img{margin:0 0 10px 0;}
.newspaper-imgdivcellleft, .newspaper-imgdivcellright{display:block;text-align:center;}
.newspaper-imgdivcellleft img{display:inline-block;margin:0 10px 20px 10px;}
.newspaper-imgdivcellright img{display:inline-block;margin:0 10px 20px 10px;}
.newspaper-textdivcell{display:block;}
.newspaper-wrapper2col .newspaper-wrapperdiv {float:none;width:auto;margin-right:0;}
.newspaper-wrapper3col .newspaper-wrapperdiv {float:none;width:auto;margin-right:0;}
.newspaper-wrapper4col .newspaper-wrapperdiv {float:none;width:auto;margin-right:0;}
}