@inherits RocketMod.RocketModTokens<Simplisity.SimplisityRazor>
@using DNNrocketAPI;
@using System
@using System.Linq
@using System.Xml
@using Simplisity;
@using DNNrocketAPI.Componants;

@AddProcessData("resourcepath", "/DesktopModules/DNNrocket/api/App_LocalResources/")

@{
    var rocketInterface = (DNNrocketInterface)Model.List.First();
    var systemData = new SystemData(rocketInterface.SystemKey);

}

<link rel="stylesheet" href="/DesktopModules/DNNrocket/css/w3.css">
<link rel="stylesheet" href="/DesktopModules/DNNrocket/fa/css/all.min.css">


<div id="rocketmodmodelactions_@(Model.ModuleId)" class="w3-modal" style="z-index:9999;">
    <div class="w3-modal-content w3-card-4 " style="width: 20%;">
            <header class="w3-row w3-blue-grey ">
                <span onclick="rocketmodadminactionsclose_@(Model.ModuleId)();" style="cursor:pointer;" class="w3-button w3-right">@ButtonText(ButtonTypes.close)</span>
            </header>
            <div class="w3-row w3-padding">
                <a href="@systemData.AdminUrl.Replace("[tabid]",Model.TabId.ToString()).Replace("[moduleid]",Model.ModuleId.ToString())" class="w3-margin-bottom w3-button w3-blue w3-padding w3-block "><i class="fas fa-user-cog fa-lg"></i></a>
                <a href='@systemData.AdminUrl.Replace("[tabid]",Model.TabId.ToString()).Replace("[moduleid]",Model.ModuleId.ToString())' target="_blank" class="w3-margin-bottom w3-button w3-blue w3-padding w3-block "><i class="fas fa-user-cog fa-lg"></i>&nbsp;<i class="far fa-window-restore fa-lg"></i></a>
            </div>
    </div>
</div>

<script>
        $(document).ready(function () {
            var scrollpos =  sessionStorage.RocketModScrollPos;
            if (typeof (scrollpos) !== 'undefined' && scrollpos > 0) {
                $('html').scrollTop(scrollpos);
                sessionStorage.RocketModScrollPos = 0;
            }
            rocketmodadminactions_@(Model.ModuleId)();
        });

       function rocketmodadminactionsclose_@(Model.ModuleId)() {
           $('#rocketmodmodelactions_@(Model.ModuleId)').hide();
           $('body').hide();
           window.location.assign(location.protocol + '//' + location.host + location.pathname)
        }

        function rocketmodadminactions_@(Model.ModuleId)() {
            sessionStorage.RocketModScrollPos = $(window).scrollTop();
            $('#rocketmodmodelactions_@(Model.ModuleId)').show();
            $('.actionMenu').hide();
            $('body').css('overflow', 'hidden');
            hidePersonaBar();
        }

        function hidePersonaBar() {
            $('.personalBarContainer').hide();
            $('.editBarFrameContainer').hide();
        }
        function showPersonaBar() {
            $('.personalBarContainer').hide();
            $('.editBarFrameContainer').hide();
        }

</script>

