@inherits RocketPortal.Components.RocketPortalTokens<Simplisity.SimplisityRazor>
@using DNNrocketAPI.Components;
@using RocketPortal.Components;
@using Simplisity;
@using RazorEngine.Text;

@AddProcessData("resourcepath", "/DesktopModules/DNNrocket/api/App_LocalResources/")
@AddProcessData("resourcepath", "/DesktopModules/DNNrocket/RocketAppTheme/App_LocalResources")

@{

    var cmd = "rocketapptheme_getlist";
    if (Model.SessionParamsData.ModuleRef != "")
    {
        cmd = "rocketapptheme_getdetail";
    }
    var portalData = new PortalLimpet(PortalUtils.GetCurrentPortalId());
}

<div id="a-displaywrapper" class="w3-animate-opacity" style="">

    <div class="w3-main" style="margin-left:0px;">

        <!-- Main -->
        <div class="">
            <!-- Content -->
            <div id="simplisity_startpanel" class="simplisity_panel" s-cmd="@cmd" s-fields='' style="">
                <div class="simplisity_loader">
                    <span class=" simplisity_loader_inner">
                    </span>
                </div>
            </div>
        </div>
    </div>

</div>

<script>

    $(document).ready(function () {
        $('.simplisity_loader').show();
        $(document).simplisityStartUp('/Desktopmodules/dnnrocket/api/rocket/action', { systemkey: 'rocketapptheme', debug: false });
        simplisity_sessionremove(); // clear the sessions vars on load.  These needs to be reset for the admin panel to work and not use any front office selections.
    });

</script>
