@inherits DNNrocketAPI.render.DNNrocketTokens<Simplisity.SimplisityRazor>
@using Simplisity;
@using DNNrocketAPI.Components;

@AddProcessData("resourcepath", "/DesktopModules/DNNrocket/Images/App_LocalResources/")
@AddProcessData("resourcepath", "/DesktopModules/DNNrocket/api/App_LocalResources/")
@AddProcessData("resourcepath", "/DesktopModules/DNNrocket/RocketPortal/App_LocalResources/")


<div id="messagepopup" class="w3-modal">
    <div class="w3-modal-content w3-animate-opacity" style="width:60%;">
        <header class="w3-container w3-theme-d4" style="height:38px;">
            <div class="w3-button w3-display-topright" onclick="$('#messagepopup').hide();" s-fields=''>
                &times;
            </div>
        </header>
        <div id="messagepopuptext" class="w3-container w3-padding w3-light-grey">
            <img id="messagepopupavatar" src="" alt="Avatar" class="w3-left w3-circle w3-margin-right" style="width:60px">
            <h2 id="messagepopupheading"></h2>
            <p id="messagepopuphelp"></p>
        </div>
    </div>
</div>

<div id="articlemodal" class="w3-modal ">
    <div class="w3-modal-content w3-animate-opacity" style="width:98%;">
        <header class="w3-container w3-theme-d4" style="height:38px;">
            <div class="w3-button w3-display-topright" onclick="$('#articlemodal').hide();">
                &times;
            </div>
        </header>
        <div id="articlecontainer" class="w3-container articlepopup"></div>
    </div>
</div>

<div id="systemmodal" class="w3-modal " style="top:-30px;">
    <div class="w3-modal-content w3-animate-opacity" style="width:95%;">
        <header class="w3-container w3-theme-d4" style="height:38px;">
            <div class="w3-button w3-display-topright" onclick="$('#systemmodal').hide();">
                &times;
            </div>
        </header>
        <div id="systemcontainer" class="w3-container systempopup"></div>
    </div>
</div>

<div id="editmodal" class="w3-modal " style="top:-30px;">
    <div class="w3-modal-content w3-animate-opacity" style="width:90%;">
        <header class="w3-container" style="height:38px;">
            <div class="w3-button w3-display-topright" onclick="$('#editmodal').hide();">
                &times;
            </div>
        </header>
        <div id="editmodalcontainer" class="w3-container editmodalpopup" style="min-height:480px;"></div>
    </div>
</div>


<div id="completedmodelmsgreturn" style="display:none;"></div>

<div id="loginformreturn"></div>


<script>
    $(document).ready(function () {
    });

    function showeditpopup() {
        $('#editmodal').show();
    }

</script>


