@inherits DNNrocketAPI.render.DNNrocketTokens<Simplisity.SimplisityRazor>
@using DNNrocketAPI;
@using Simplisity;

@AddProcessData("resourcepath", "/DesktopModules/DNNrocket/api/App_LocalResources/")

    <div class="w3-dropdown-hover">
        <button class="w3-button w3-theme-l4"><img class='' src='/DesktopModules/DNNrocket/API/images/flags/32/@(DNNrocketUtils.GetEditCulture()).png' alt='@(DNNrocketUtils.GetEditCulture())' /><span class="w3-small">&nbsp;@DNNrocketUtils.GetCultureCodeName(DNNrocketUtils.GetEditCulture())</span></button>
        <div class="w3-dropdown-content w3-bar-block w3-border">
            @{
                var enabledlanguages = DNNrocketUtils.GetCultureCodeList();
                foreach (var l in enabledlanguages)
                {
                    <div class="w3-bar-item w3-button selectlang " editlang='@l' style="width:400px;" ><img class='' src='/DesktopModules/DNNrocket/API/images/flags/16/@(l).png' alt='@(l)' /><span class="w3-small">&nbsp;@DNNrocketUtils.GetCultureCodeName(l)</span></div>
                }
            }
        </div>
    </div>

<script>
    $(document).ready(function () {


    });
</script>