@inherits RocketTools.RocketToolsTokens<Simplisity.SimplisityRazor>
@using DNNrocketAPI.Components;
@using RocketPortal.Components;
@using Simplisity;
@using RazorEngine.Text;

@AddProcessData("resourcepath", "/DesktopModules/DNNrocket/api/App_LocalResources/")
@AddProcessData("resourcepath", "/DesktopModules/DNNrocket/RocketTools/App_LocalResources")


<div id="a-displaywrapper" class="w3-animate-opacity" style="">

    <div class="w3-main" style="">

        <!-- Main -->
        <div class="" style="">
            <!-- Content -->
            <div id="simplisity_startpanel" class="w3-panel simplisity_panel" s-cmd="rocketactions_getdisplay" s-fields='' style="">
                <div class="simplisity_loader">
                    <span class=" simplisity_loader_inner">
                    </span>
                </div>
            </div>
        </div>
    </div>

</div>

<script>

    $(document).ready(function () {

        $(document).simplisityStartUp('/Desktopmodules/dnnrocket/api/rocket/action', { systemkey: 'rockettools', debug: false });

        simplisity_setParamField("reload", true);  // This will flag that a reload is done.  The Server side code will get the last command tracked.
        simplisity_sessionremove(); // clear the sessions vars on load.  These needs to be reset for the admin panel to work and not use any front office selections.

    });

</script>
