@inherits RocketTools.RocketToolsTokens<Simplisity.SimplisityRazor>
@using DNNrocketAPI.Components;
@using RocketPortal.Components;
@using Simplisity;
@using RazorEngine.Text;

@AddProcessData("resourcepath", "/DesktopModules/DNNrocket/api/App_LocalResources/")
@AddProcessData("resourcepath", "/DesktopModules/DNNrocket/RocketPortal/App_LocalResources")

<div id="a-displaywrapper" class="w3-animate-opacity" style="">

    <div class="w3-main" style="">

        <!-- Top Bar -->
        <div id="topbarplaceholder"></div>

        <!-- Main -->
        <div style="padding-top:56px;">
            <!-- Content -->
            <div id="simplisity_startpanel" class="w3-panel simplisity_panel" s-cmd="rocketactions_getdisplay" s-fields='' style="">
                <div class="w3-overlay w3-white loader" style='display:block;z-index:999;'>
                    <span class="w3-display-middle">
                        <img class="w3-spin" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAEgAAABICAQAAAD/5HvMAAACmklEQVRo3u3YrU9CURgG8EcHm5sfRebURACLSSsGRtBioN2G06CFIIVKISPFYOUPUItzFpNuWpTOGMHNoBM3UGe4cky691yvcM8H555N3xvd+/DzcO857wX4rz9bJdtAzDYSs43EbCMx20jMNhKzjcRsI7HwSTNwUMUJGrj/wTFMmkYeV76IEEhzqOA1AMYIKYoiuoExQwclcSuEGTIni45NnB24Ph/ZRg2bSCOBCbOcbR/METKIhLMxZn+szgVS4R0dSc+946IQ5uEaxQ3HecZquONH0cNZVBzQ4nBUOPPcNuhiTXGEjaOFB0zJgyrc+uwqDvlxtMDAUJY/Ql8I51LxNeiLw9DBuBwoz61PSulejKBJsnJyIdfcNqhaxyTtXG786pGIjDIoTdI+EBMPcEjAE3dIyNUoN1euiwfskfaalj3tgCRKPGmn6jehp7ZI4pl4e4O0p7WAlkliXbz9kbQvaAHNksQ78fZ30j6pBTRGEt/E299I+5gW0CRJfBdvvyPts1pACyTxUby9TtqXtIDo1tgQbz8j7RtaQDmSeCreXibt+1pANZK4J96+zj2kI8qcCJ5IosTcGMMHCVhRBmVIWg8zMhHnJOJQGXRE0q7Vb8Km4nmf4oa9vFzI+PcbWQtxxQH2knBeMC37f5UDc1jfv+9y61ORX+gpPATk9AOtca/iXcyrfPdOQM7voEU8c+tTHO6bben7g/xr1cO5QdQMxx9U8Pxu0kHSFIf5POgXnh9xXGTNcRh3SGS4bfDr2jbJYZhAAmlsooa2D8bFjllO/6tj9ssadN2avJUHXV0Uh/ugi4BeUcEcDFQQ0hXy8keoLtI9GjhBFY7c+KWbFHqVbAMNOjpCJ8E2EmwjwTYSbCPBNtJ//dX6BHY6L4BgfX6bAAAAAElFTkSuQmCC" />
                    </span>
                </div>
            </div>
        </div>
    </div>

</div>

<script>

    $(document).ready(function () {

        $('#topbarplaceholder').getSimplisity('/Desktopmodules/dnnrocket/api/rocket/action', 'gettopbar', '{"systemkey":"rockettools"}', '')
        $(document).simplisityStartUp('/Desktopmodules/dnnrocket/api/rocket/action', { systemkey: 'tools', debug: false });

        $('#topbarplaceholder').activateSimplisityPanel();

        simplisity_setParamField("reload", true);  // This will flag that a reload is done.  The Server side code will get the last command tracked.
        simplisity_sessionremove(); // clear the sessions vars on load.  These needs to be reset for the admin panel to work and not use any front office selections.

    });

</script>

<!-- Load CSS in body, not ideal but is easier to implement and reduces 1 API call. -->
<link rel="stylesheet" href="/DesktopModules/DNNrocket/css/w3.css">
<link rel="stylesheet" href="/DesktopModules/DNNrocket/RocketPortal/Themes/config-w3/1.0/css/theme.css">
<script src="/DesktopModules/DNNrocket/js/jquery-3.3.1.min.js"></script>
<script src="/DesktopModules/DNNrocket/js/jquery-ui.min.js"></script>
<script type="text/javascript" src="/DesktopModules/DNNrocket/Simplisity/js/simplisity.js"></script>

<!-- +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ -->
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:regular,bold,italic,thin,light,bolditalic,black,medium">
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

<link rel="stylesheet" href="/DesktopModules/DNNrocket/API/Themes/config-w3/1.0/css/grey-theme.css">

