@inherits RocketTools.RocketToolsTokens<Simplisity.SimplisityRazor>
@using System
@using System.Xml
@using Simplisity;
@using RazorEngine.Text;
@using System.Xml;
@using DNNrocketAPI.Components;

@AddProcessData("resourcepath", "/DesktopModules/DNNrocket/RocketTools/App_LocalResources/")

@{
    var info = (SimplisityInfo)Model.List.First();
    var selectedModuleId = " where ";
    foreach (SimplisityInfo m in info.GetList("clonemoduleactive"))
    {
        selectedModuleId += " moduleid = " + m.GetXmlProperty("genxml/moduleid") + "  or ";
    }
    selectedModuleId = selectedModuleId.Substring(0, selectedModuleId.Length - 3);

    var objCtrl = new DNNrocketAPI.DNNrocketController();
    var sqlXML = objCtrl.GetSqlxml("SELECT [TabID] FROM {databaseOwner}[{objectQualifier}TabModules] " + selectedModuleId + " FOR XML PATH, ROOT('genxml')");
    var sXml = new SimplisityRecord();
    sXml.XMLData = sqlXML;
    var tabIdList = new List<string>();
    var nodList = sXml.XMLDoc.SelectNodes("genxml/row");
    if (nodList != null)
    {
        foreach (XmlNode r in nodList)
        {
            tabIdList.Add(r.SelectSingleNode("TabID").InnerText);
        }
    }
}

<div class="w3-row">
    <div class="w3-button w3-left w3-margin-left" id="checkAll">
        <span class="material-icons">
            playlist_add_check
        </span>
    </div>
    <div class="w3-button w3-left" id="uncheckAll">
        <span class="material-icons">
            playlist_remove
        </span>
    </div>
</div>
<div id="treeview3_container">
    @GetTabList(PortalUtils.GetPortalId(), new List<int>(), "checkboxlist", "", " class=' w3-check ' ", true)
</div>

<script>

    $(document).ready(function () {

        $('.rocketclonesbutton').show();

        $("#checkAll").click(function () {
            $("#treeview3_container").find(':checkbox').prop('checked', true);
        });
        $("#uncheckAll").click(function () {
            $("#treeview3_container").find(':checkbox').prop('checked', false);
        });

        @foreach (var t in tabIdList)
        {
            <text>
                $('#tabid-checkboxlist-@(t)').prop('checked', 'true');
            </text>
        }
        $('#tabid-checkboxlist-@(info.GetXmlProperty("genxml/fromtabid"))').attr("disabled", true);

    });

</script>

