@inherits RocketTools.RocketToolsTokens<Simplisity.SimplisityRazor>

@AddProcessData("resourcepath", "/DesktopModules/DNNrocket/RocketTools/App_LocalResources/")

<div id="cloneid01" class="w3-modal">
  <div class="w3-modal-content">
    <div class="w3-container w3-center " style="">
        <div class="w3-margin w3-large">
                @ResourceKey("RocketTools.clonesok")
        </div>
        <div class="w3-theme w3-button w3-margin" onclick="$('#cloneid01').hide();">
                OK
        </div>
    </div>
  </div>
</div>

<script>
    $(document).ready(function () {
        $("#cloneid01").show();
    });
</script>
