@inherits RocketTools.RocketToolsTokens<Simplisity.SimplisityRazor>
@using System
@using System.Linq
@using System.Xml
@using Simplisity;

@AddProcessData("resourcepath", "/DesktopModules/RocketTools/App_LocalResources/")

@{
    var info = (SimplisityInfo)Model.List.First();
}

<div class="w3-display-container">

    <div class="">
        <ul id="modulelistdata" class="w3-ul">

            @{
                foreach (var m in info.GetRecordList("clonemodulelist"))
                {
                    <li>
                        <label>
                            <input id='moduleid@(m.GetXmlProperty("genxml/moduleid"))' class="modulecheckbox w3-check" moduleid='@m.GetXmlProperty("genxml/moduleid")' s-xpath="genxml/checkbox/moduleid@(m.GetXmlProperty("genxml/moduleid"))" s-update="save" type="checkbox">
                            <span class="">
                                @m.GetXmlProperty("genxml/modulename")
                            </span>
                            <span class="w3-small">
                                @m.GetXmlProperty("genxml/modulepanename")
                            </span>
                        </label>
                    </li>
                }
            }
        </ul>
    </div>

</div>

<script>

    $(document).ready(function () {

        $('.nextbuttonpage').hide();

        $("#modulecheckAll").unbind("click");
        $("#modulecheckAll").click(function () {
            $('.modulecheckbox').prop('checked', true);
            if ($('.rolesdatasection').text() === '') {
                $('.nextbuttonmodule').show();
            }
        });
        $("#moduleuncheckAll").unbind("click");
        $("#moduleuncheckAll").click(function () {
            $('.modulecheckbox').prop('checked', false);
            if ($('.rolesdatasection').text() === '') {
                $('.nextbuttonmodule').show();
            }
        });

        $(".modulecheckbox").unbind("click");
        $(".modulecheckbox").click(function () {
            if ($('.rolesdatasection').text() === '') {
                $('.nextbuttonmodule').show();
            }
        });

    });



</script>

