@inherits RocketTools.RocketToolsTokens<Simplisity.SimplisityRazor>

@AddProcessData("resourcepath", "/DesktopModules/RocketTools/App_LocalResources/")

<div class="w3-panel w3-pale-green">
    <h1>@ResourceKey("View.clonesok")</h1>
</div>
