@inherits RocketTools.RocketToolsTokens<Simplisity.SimplisityRazor>
@using System
@using System.Linq
@using System.Xml
@using Simplisity;
@using DNNrocketAPI.Components;

@AddProcessData("resourcepath", "/DesktopModules/DNNrocket/RocketTools/App_LocalResources/")

<div id="sectiondata">

        <div id="simplisity-export-progress" class="w3-modal w3-padding w3-hide" style="z-index:9999;background-color:grey;">
            <div class="w3-modal-content w3-card-4 w3-display-middle w3-padding" style="width: 60%;">
                <div class="w3-center">
                    <h4>@ResourceKey("RocketTools.exportprogress")</h4>
                    <p>@ResourceKey("RocketTools.pleasewait")</p>
                    <div class="w3-margin">
                        <i class="fas fa-spinner fa-spin fa-3x w3-text-blue"></i>
                    </div>
                </div>
            </div>
        </div>
</div>

<script>
    $(document).ready(function () {


    });
</script>
