@inherits RocketTools.RocketToolsTokens<Simplisity.SimplisityRazor>
@using System
@using System.Linq
@using System.Xml
@using Simplisity;

@AddProcessData("resourcepath", "/DesktopModules/RocketTools/App_LocalResources/")

@{
    var info = (SimplisityInfo)Model.List.First();
}

<div class="w3-row">

    <div class="w3-row">
        <div class="w3-button w3-left w3-margin-left" id="modulecheckAll">
            <span class="material-icons">
                playlist_add_check
            </span>
        </div>
        <div class="w3-button w3-left" id="moduleuncheckAll">
            <span class="material-icons">
                playlist_remove
            </span>
        </div>
    </div>

    <div class="">

        <ul id="modulelistdata" class="w3-ul">

            @{
                foreach (var m in info.GetRecordList("modulelist"))
                {
                    <li>
                        <label>
                            <input id='moduleid@(m.GetXmlProperty("genxml/moduleid"))' class="w3-check modulecheckbox" moduleid='@m.GetXmlProperty("genxml/moduleid")' s-xpath="genxml/checkbox/moduleid@(m.GetXmlProperty("genxml/moduleid"))" s-update="save" type="checkbox">
                            @m.GetXmlProperty("genxml/moduletitle")
                        </label>
                    </li>
                }
            }
        </ul>
    </div>


</div>

<script>

    $(document).ready(function () {

        $('.applyrolesbutton').hide();
        $('.nextbuttonpage').hide();

        $("#modulecheckAll").unbind("click");
        $("#modulecheckAll").click(function () {
            $('.modulecheckbox').prop('checked', true);
            if ($('.rolesdatasection').text() === '') {
                $('.nextbuttonmodule').show();
                $('.applyrolesbutton').hide();
            }
        });
        $("#moduleuncheckAll").unbind("click");
        $("#moduleuncheckAll").click(function () {
            $('.modulecheckbox').prop('checked', false);
            if ($('.rolesdatasection').text() === '') {
                $('.nextbuttonmodule').show();
                $('.applyrolesbutton').hide();
            }
        });

        $(".modulecheckbox").unbind("click");
        $(".modulecheckbox").click(function () {
            if ($('.rolesdatasection').text() === '') {
                $('.nextbuttonmodule').show();
                $('.applyrolesbutton').hide();
            }
        });

    });



</script>

