@inherits RocketTools.RocketToolsTokens<Simplisity.SimplisityRazor>
@using System
@using System.Linq
@using System.Xml
@using Simplisity;

@AddProcessData("resourcepath", "/DesktopModules/RocketTools/App_LocalResources/")

@{
    var info = (SimplisityInfo)Model.List.First();
}

<div class="w3-row">

    <div id="rolelistdata" class="">

        <ul class="w3-ul">

            @{
                foreach (var m in info.GetRecordList("rolelist"))
                {
                    if (m.GetXmlProperty("genxml/rolename") != "Administrators")
                    {
                        var checkedvalue = "";
                        if (m.GetXmlProperty("genxml/rolename") == "Administrators" || m.GetXmlProperty("genxml/rolename") == "Manager")
                        {
                            checkedvalue = "checked";
                        }

                        <li>
                            <label>
                                <input id='moduleid@(m.GetXmlProperty("genxml/roleid"))' @checkedvalue class="w3-check rolecheckbox" moduleid='@m.GetXmlProperty("genxml/roleid")' s-xpath="genxml/checkbox/roleid@(m.GetXmlProperty("genxml/roleid"))" s-update="save" type="checkbox">
                                @m.GetXmlProperty("genxml/rolename")
                            </label>
                        </li>
                    }
                }
            }
        </ul>
    </div>
    <div class="w3-row w3-large returnmsg"></div>

</div>

<script>

    $(document).ready(function () {

        $('.nextbuttonmodule').hide();

    });



</script>

