@inherits RocketTools.RocketToolsTokens<Simplisity.SimplisityRazor>
@using System
@using System.Linq
@using System.Xml
@using Simplisity;

@AddProcessData("resourcepath", "/DesktopModules/RocketTools/App_LocalResources/")

<span class="w3-pale-green w3-input">
    @ResourceKey("View.rolesok")
</span>
