@inherits DNNrocketAPI.render.DNNrocketTokens<Simplisity.SimplisityRazor>
@using DNNrocketAPI;
@using System
@using System.Linq
@using System.Xml
@using DotNetNuke.Entities.Users;
@using DotNetNuke.Services.Localization;
@using DotNetNuke.Entities.Portals;
@using DNNrocket.BusinessDirectory;
@using Simplisity;
@using DNNrocketAPI.Componants;

@AddMetaData("resourcepath", "/DesktopModules/DNNrocket/api/App_LocalResources/")

@{ 
    var info = Model.HeaderData;
    var rowcount = info.GetXmlPropertyInt("genxml/hidden/rowcount");
    var page = info.GetXmlPropertyInt("genxml/hidden/page");
    var pagesize = info.GetXmlPropertyInt("genxml/hidden/pagesize");
}

<div class="w3-center w3-margin">
    <div class="w3-bar">
        <a class="w3-button w3-hover-theme" href="#">|❮</a>
        <a class="w3-button w3-hover-theme" href="#">..</a>
        <a class="w3-button w3-hover-theme" href="#">❮</a>

        @for (int i = 1; i < pagesize; i++)
        {
            var selected = "";
            if (i == page)
            {
                selected = "w3-theme-l3";
            }
            <a href='#' class='w3-button w3-hover-theme @selected simplisity_pageclick' s-page='@i' s-pagesize='@(pagesize)'>@i</a>
        }

        <a class="w3-button w3-hover-theme" href="#">❯</a>
        <a class="w3-button w3-hover-theme" href="#">..</a>
        <a class="w3-button w3-hover-theme" href="#">❯|</a>
    </div>
</div>