@inherits DNNrocketAPI.render.DNNrocketTokens<Simplisity.SimplisityRazor>
@using DNNrocketAPI.Components;
@using Simplisity;

@AddProcessData("resourcepath", "/DesktopModules/DNNrocket/API/App_LocalResources/")

<div class="w3-section">
    @TextArea(new Simplisity.SimplisityInfo(), "genxml/textbox/deeploutput", " class='w3-input w3-border' rows='12' ", Model.SessionParamsData.Get("deeplreturn"))
</div>
<div class="w3-section w3-padding">
    <span class="w3-padding w3-button w3-theme-action" onclick="replacedeepltext();">
        @ResourceKey("DNNrocket.replacetext")
    </span>
</div>

<script>
    function replacedeepltext() {
        var deepltextid = simplisity_getSessionField("deepltextid");
        $('#' + deepltextid).val($('#deeploutput').val());
        insertIntoCkeditor(deepltextid, $('#deeploutput').val())
        $('#deeplmodal').hide();
        resetfields();
    }
    function insertIntoCkeditor(deepltextid, str) {
        if (typeof CKEDITOR !== 'undefined') {
            var editor = CKEDITOR.instances[deepltextid];
            if (editor) {
                var lfcrRegexp = /\n|\s{2,}/g
                str = "<p>" + str + "</p>";
                var result = str.replace(lfcrRegexp, "</p><p>")
                result = result.replaceAll("<p></p>", "");
                CKEDITOR.instances[deepltextid].setData(result);
            }
        }
    }

</script>

