@inherits DNNrocketAPI.render.DNNrocketTokens<Simplisity.SimplisityRazor>

@using DNNrocketAPI;
@using System
@using System.Linq
@using System.Xml
@using Simplisity;
@using DNNrocketAPI.Componants;



@AddProcessData("resourcepath", "/DesktopModules/DNNrocket/api/App_LocalResources/")
@AddProcessData("resourcepath", "/DesktopModules/" + Model.GetSetting("projectfolder") + "/App_LocalResources/")


@{
    var userStorage = new UserStorage();
    var sidemenu = (SideMenu)Model.List.First();
    var systemInfoData = new SystemInfoData(sidemenu.SystemKey);


    var menuOut = "";
    // get action interfaces. (no group)
    var lp = 1;
    var interfacelist = sidemenu.GetInterfaces("");
    if (interfacelist.Count() > 0)
    {
        foreach (var i in interfacelist)
        {
            if (i.GetXmlPropertyBool("genxml/checkbox/onmenu"))
            {
                var defaulttheme = i.GetXmlProperty("genxml/textbox/defaulttheme");
                var defaulttemplate = i.GetXmlProperty("genxml/textbox/defaulttemplate");
                var defaultcommand = i.GetXmlProperty("genxml/textbox/defaultcommand");
                var interfacekey = i.GetXmlProperty("genxml/textbox/interfacekey");
                var interfaceicon = i.GetXmlProperty("genxml/textbox/interfaceicon");
                var interfaceName = ResourceKey(Model.GetSetting("resxfile") + "." + interfacekey).ToString();
                if (interfaceName == "")
                {
                    interfaceName = systemInfoData.GetSetting(interfacekey + "MenuName");
                    if (interfaceName == "")
                    {
                        interfaceName = interfacekey;
                    }
                }
                menuOut += "<div class='w3-bar-item w3-button w3-padding simplisity_click' s-before='sidebarloader' s-after='sidemenuchange' s-cmd='" + defaultcommand + "' s-fields='{\"theme\":\"" + defaulttheme + "\",\"template\":\"" + defaulttemplate + "\",\"systemkey\":\"" + sidemenu.SystemKey + "\",\"interfacekey\":\"" + interfacekey + "\",\"track\":\"true\"}' ><i class='" + interfaceicon + "' style='width:20px;'></i>&nbsp;" + interfaceName + "</div>";
            }
            lp += 1;
        }
    }


    // get sub group interfaces
    lp = 1;
    foreach (SimplisityRecord g in sidemenu.GetGroups())
    {
        var groupref = g.GetXmlProperty("genxml/textbox/groupref");
        var groupicon = g.GetXmlProperty("genxml/textbox/groupicon");
        interfacelist = sidemenu.GetInterfaces(groupref);
        if (interfacelist.Count() > 0)
        {
            menuOut += "<div class='w3-bar-item w3-button w3-padding menuaccordian' actionid='" + groupref + "'><i class='w3-left " + groupicon + "' style='width:30px;'></i>" + ResourceKey("RocketMod." + groupref) + "&nbsp;<i class='fas fa-caret-down'></i></div>";
            menuOut += "<div id='" + groupref + "' class='w3-hide'>";
            foreach (var i in interfacelist)
            {
                var defaulttheme = i.GetXmlProperty("genxml/textbox/defaulttheme");
                var defaulttemplate = i.GetXmlProperty("genxml/textbox/defaulttemplate");
                var defaultcommand = i.GetXmlProperty("genxml/textbox/defaultcommand");
                var interfacekey = i.GetXmlProperty("genxml/textbox/interfacekey");
                var interfaceicon = i.GetXmlProperty("genxml/textbox/interfaceicon");
                var interfaceName = ResourceKey(Model.GetSetting("resxfile") + "." + interfacekey).ToString();
                if (interfaceName == "")
                {
                    interfaceName = systemInfoData.GetSetting(interfacekey + "MenuName");
                    if (interfaceName == "")
                    {
                        interfaceName = interfacekey;
                    }
                }
                menuOut += "<div class='w3-bar-item w3-button w3-padding simplisity_click ' s-before='sidebarloader' s-after='sidemenuchange'  s-cmd='" + defaultcommand + "' s-fields='{\"theme\":\"" + defaulttheme + "\",\"template\":\"" + defaulttemplate + "\",\"systemkey\":\"" + sidemenu.SystemKey + "\",\"interfacekey\":\"" + interfacekey + "\",\"track\":\"true\"}' ><i class='w3-center " + interfaceicon + "' style='width:40px;'></i>" + interfaceName + "</div>";
                lp += 1;
            }
            menuOut += "</div>";
        }
    }
}

@{ 
    menuOut += "<hr />";
}
@if (DNNrocketUtils.IsSuperUser())
{
    menuOut += "<a class='w3-bar-item w3-button w3-padding w3-theme ' href='/desktopmodules/dnnrocket/adminsystem.html' target='_blank'><i title='System' class='fas fa-rocket' style='width:20px;'></i>&nbsp;System</a>";
    menuOut += "<hr />";
}
@{
    menuOut += "<div s-after='returnclick' s-cmd='admin_return' s-return='.menureturn' class='w3-bar-item w3-button w3-theme w3-hover-theme simplisity_click'>" + ButtonText(ButtonTypes.back) + "</div>";
    menuOut += "<hr />";
}

<div class="menureturn" style="display:none;"></div>

@HtmlOf(menuOut)


<script type="text/javascript">

    $(document).ready(function () {

        // turn off the reload flag
        simplisity_setParamField("reload", false)


        $('.menuaccordian').unbind('click');
        $('.menuaccordian').click(function () {
            var actionid = $(this).attr("actionid")
            if ($('#' + actionid).hasClass('w3-show')) {
                $('#' + actionid).addClass('w3-hide');
                $('#' + actionid).removeClass('w3-show');
                $(this).removeClass('w3-theme-d3');
            }
            else {
                $('#' + actionid).addClass('w3-show');
                $('#' + actionid).removeClass('w3-hide');
                $(this).addClass('w3-theme-d3');
            }
        });

        $(window).resize(function () {
            if ($('#simplisity_fullloader').is(':visible')) {
                $('#mySidebar').width($('#mySidebar').parent().width());
            }
        });

        sidemenuchange();

    });


    // Get the Sidebar
    var mySidebar = document.getElementById("mySidebar");

    // Toggle between showing and hiding the sidebar, and add overlay effect
    function w3_open() {
        if (mySidebar.style.display === 'block') {
            mySidebar.style.display = 'none';
        } else {
            mySidebar.style.display = 'block';
        }
        $('#mySidebar').width($('#mySidebar').parent().width());
        $('#simplisity_fullloader').show();
    }

    // Close the sidebar with the close button
    function w3_close() {
        if ($('#simplisity_fullloader').is(':visible')) {
            mySidebar.style.display = 'none';
            $('#mySidebar').width(270)
            $('#simplisity_fullloader').hide();
        }
    }

    function sidebarloader() {
        $('#sidebar_loader').show();
    }

    function sidemenuchange() {
        w3_close();
        $('#sidebar_loader').hide();
    }

    function returnclick() {
        $('#simplisity_loader').show();
        $('.simplisity_panel').hide();
        var returnurl = sessionStorage.RocketModReturn;
        if (typeof returnurl === 'undefined' || returnurl === '') {
            window.history.back();
        }
        else {
            window.location = returnurl;
        }
    }
</script>
