@inherits DNNrocketAPI.render.DNNrocketTokens<Simplisity.SimplisityRazor>

@using DNNrocketAPI;
@using System
@using System.Linq
@using System.Xml
@using Simplisity;
@using DNNrocketAPI.Componants;



@AddProcessData("resourcepath", "/DesktopModules/DNNrocket/api/App_LocalResources/")
@AddProcessData("resourcepath", "/DesktopModules/DNNrocket/RocketLicense/App_LocalResources/")


    <div class="w3-row w3-padding-small w3-white w3-border-bottom">
        <div class="w3-large"><i class='fas fa-rocket' style='font-size:24px'></i>&nbsp;Rocket API</div>
        <button class="w3-hide-large w3-button w3-right" onclick="w3_close()" style="cursor:pointer" title=""><i class='fas fa-caret-left' style='font-size:36px'></i></button>
    </div>

<div class="w3-bar-block w3-theme">

    @RenderTemplate("LanguageSelect.cshtml", "\\DesktopModules\\DNNrocket\\Country", "config-w3", Model, "1.0", true)

    <div class="w3-overlay w3-white " style="display:none;" id="sidebar_loader"><i class="fa fa-spinner fa-spin w3-display-middle " style="font-size:48px"></i></div>

    <div class="w3-margin-top w3-margin-bottom">
        @{
            Model.SetSetting("projectfolder", "DNNrocket/api");
            Model.SetSetting("resxfile", "RocketApi");
        }
        @RenderTemplate("MenuOut.cshtml", "\\DesktopModules\\DNNrocket\\api", "config-w3", Model, "1.0", true)
    </div>
    @if (DNNrocketUtils.IsSuperUser())
    {
        <hr />
        <a class="w3-bar-item w3-button w3-padding w3-theme " href="/desktopmodules/dnnrocket/adminsystem.html" target="_blank"><i title="System" class='fas fa-rocket' style='width:20px;'></i>&nbsp;System</a>
    }
    <hr />
</div>
