@inherits DNNrocketAPI.render.DNNrocketTokens<Simplisity.SimplisityRazor>

@using DNNrocketAPI;
@using System
@using System.Linq
@using System.Xml
@using Simplisity;
@using DNNrocketAPI.Components;

@{
    var info = (SimplisityInfo)Model.List.First();
}


<div id="editxml">
    <div onclick="document.getElementById('xmldisplaydatamodel').style.display='block'" class="w3-button w3-black">XML</div>
    <div id="xmldisplaydatamodel" class="w3-modal">
        <div class="w3-modal-content" style="height:95%;width:90%;">
            <div class="w3-container w3-padding" style="height:100%;width:100%;">
                <span onclick="document.getElementById('xmldisplaydatamodel').style.display='none'" class="w3-button w3-display-topright">&times;</span>
                <textarea style="width:100%;height:100%;border: none;" class="">@info.PrettyXml()</textarea>
            </div>
        </div>
    </div>
</div>


