@using DotNetNuke.Web.MvcPipeline.Models
@using DotNetNuke.Web.MvcPipeline.Skins
@model PageModel

@Html.Pane(id: "ContentPane")
       
<div class="simplisity_loader">
    <span class=" simplisity_loader_inner">
    </span>
</div>
<script>
    document.addEventListener("DOMContentLoaded", function () {
        var loader = document.querySelector(".simplisity_loader");      
        if (loader) {
            loader.style.display = "none";
        }
    });
</script>

