@charset "UTF-8";

/ DNN Buttons /
.LoginPanel a.dnnPrimaryAction, .LoginPanel a.dnnSecondaryAction, .dnnRegistrationForm a.dnnPrimaryAction, .dnnRegistrationForm a.dnnSecondaryAction {
    border: none;
    -webkit-border-radius: 0;
    border-radius: 0;
    font-weight: normal;
    -webkit-box-shadow: none;
    box-shadow: none;
    text-shadow: none;
    margin: 10px 0;
}

    .LoginPanel a.dnnPrimaryAction:link, .LoginPanel a.dnnPrimaryAction:visited, .dnnRegistrationForm a.dnnPrimaryAction:link, .dnnRegistrationForm a.dnnPrimaryAction:visited {
        background: #333;
        display: inline-block;
        font-size: 16px;
        color: white;
        text-decoration: none;
        padding: 4px 14px;
        line-height: 28px;
    }

    .LoginPanel a.dnnPrimaryAction:active, .LoginPanel a.dnnPrimaryAction:hover, .dnnRegistrationForm a.dnnPrimaryAction:active, .dnnRegistrationForm a.dnnPrimaryAction:hover {
        background: #050533;
        color: white;
    }

    .LoginPanel a.dnnSecondaryAction:link, .LoginPanel a.dnnSecondaryAction:visited, .dnnRegistrationForm a.dnnSecondaryAction:link, .dnnRegistrationForm a.dnnSecondaryAction:visited {
        background: #aaa;
        display: inline-block;
        font-size: 16px;
        color: white;
        text-decoration: none;
        padding: 4px 14px;
        line-height: 28px;
    }

    .LoginPanel a.dnnSecondaryAction:active, .LoginPanel a.dnnSecondaryAction:hover, .dnnRegistrationForm a.dnnSecondaryAction:active, .dnnRegistrationForm a.dnnSecondaryAction:hover {
        background: #050533;
        color: white;
    }
 