@inherits DNNrocketAPI.render.DNNrocketTokens<Simplisity.SimplisityRazor>

@using DNNrocketAPI;
@using System
@using System.Linq
@using System.Xml
@using Simplisity;
@using DNNrocketAPI.Componants;

@AddProcessData("resourcepath", "/DesktopModules/DNNrocket/api/App_LocalResources/")
@AddProcessData("resourcepath", "/DesktopModules/DNNrocket/RocketMod/App_LocalResources/")

@{ 
    var systemGloablData = new SystemGlobalData();
}
<link rel="stylesheet" href="/DesktopModules/DNNrocket/API/Themes/config-w3/1.0/css/@(systemGloablData.ColorTheme)">

<div class="w3-row w3-padding-small w3-theme-d5 w3-border-bottom w3-padding">
    <div class="w3-col w3-large"><i class='fa fas fa-wifi' style='font-size:36px'></i>&nbsp;@ResourceKey("DNNrocket.remote")</div>
    <div class="w3-col w3-hide-large w3-button w3-display-topright" onclick="w3_close()" style="cursor:pointer;width:40px;" title=""><i class='fas fa-caret-left' style='font-size:36px'></i></div>
</div>


<div class="w3-bar-block w3-theme">

    <div class="w3-overlay w3-white " style="display:none;" id="sidebar_loader"><i class="fa fa-spinner fa-spin w3-display-middle " style="font-size:48px"></i></div>

    <div class="w3-margin-top w3-margin-bottom">
        @RenderSideMenu(Model)
    </div>

    <div class='w3-bar-item w3-button w3-padding w3-theme-d3 returnbutton' onclick='returnclick();'>@ButtonText(ButtonTypes.back)</div>

</div>

<div class="w3-bar" style="position: fixed;bottom: 0;  left: 0px;">
    <a class="w3-bar-item w3-button " href='/Desktopmodules/dnnrocket/AppThemes/admin.html' target='_blank'><i title='AppThemes' class='fa-2x fa fas fa-file-code'></i></a>
    @if (UserUtils.IsSuperUser())
    {
        <a class='w3-bar-item w3-button' href='/desktopmodules/dnnrocket/adminsystem.html' target='_blank'><i title='System' class='fa-2x fa fas fa-chess'></i></a>
    }
</div>



