@inherits RocketMod.RocketModTokens<Simplisity.SimplisityRazor>
@using DNNrocketAPI;
@using System
@using System.Linq
@using System.Xml
@using Simplisity;
@using DNNrocketAPI.Componants;


@AddProcessData("resourcepath", "/DesktopModules/DNNrocket/api/App_LocalResources/")
@AddProcessData("resourcepath", "/DesktopModules/DNNrocket/RocketMod/App_LocalResources/")

@{

    var editicontextcolor = Model.GetSetting("editicontextcolor");
    var editiconcolor = Model.GetSetting("editiconcolor");
    if (editiconcolor == "")
    {
        editiconcolor = "blue";
    }

}


    <div id="rocketcontentediticons@(Model.ModuleId)" class='w3-display-topleft w3-margin' style='display:none;z-index:99;'>
        <a href='/desktopmodules/dnnrocket/rocketremotemod/admin.html?moduleid=@(Model.ModuleId)&amp;tabid=@(Model.TabId)' class="w3-button w3-white w3-border w3-border-@(editiconcolor) w3-round-large  w3-tiny"><i class="fas fa-layer-group"></i></a>
        <a href='?clearallcache=@(Model.ModuleId)&amp;tabid=@(Model.TabId)'  title="@DNNrocketUtils.GetResourceString("/DesktopModules/DNNrocket/API/App_LocalResources/", "DNNrocket.clearallcache")" class="w3-button w3-white w3-border w3-border-@(editiconcolor) w3-round-large  w3-tiny"><i class="fas fa-slash"></i></a>
        <span onclick="$('#rocketcontentediticons@(Model.ModuleId)').hide();" class="w3-button w3-white w3-border w3-border-@(editiconcolor) w3-round-large w3-tiny"><i class='fas fa-times'></i></span>
    </div>

